.container {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  height: 100%;
}

.cannon {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid green;
}

.target {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid purple;
}
