body {
  overflow: hidden;
}

.container {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  height: 100%;
}

.cannonContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.cannon {
  background: #333;
  float: right;
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
}

.muzzle {
  float: right;
  width: 0;
  height: 0;
  border: 1px solid blue;
  padding: 0;
  margin-right: 0%;
  margin-top: -4%;
  margin-bottom: 0;
}

.muzzle:after {
  clear: both;
}

.target {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid purple;
}

.loadImage {
  display: none;
}

.shell {
  position: absolute;
  selection: none;
  z-index: -1;
}
